@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.user-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 10vh;
    background-color: #fff;
    padding: 10
}